body {
	font-family: sans-serif;
}
div {
	border: solid 2px black;
	padding: 5px;
}

.outer {
	background-color: lime;
}

h1 {
	font-size: 200%;
}

.intro {

}

@media (min-width: 24em) {

	h1 {
		font-size: 400%;
	}
	.outer {
		background-color: yellow;
	}
}

@media (min-width: 36em) {
	.outer {
		display: flex;
		background-color: red;
	}
}