body {
	font-family: sans-serif;
}
div {
	border: solid 2px black;
	padding: 5px;
}

.outer {
	background-color: lime;
}

h1 {
	font-size: 200%;
}

.intro {

}

@media (min-width: 24em) {

	.outer {
		background-color: yellow;
	}
}

@media (min-width: 24em) {

	body {
		background-color: black;
	}
}

@media (max-width: 31.9375em) {

	.outer {
		color: blue;
	}
}

@media (min-width: 24em) and (max-width: 35.9375em) {

	h1 {
		font-size: 400%;
	}
}

@media (min-width: 32em) and (max-width: 47.9375em) {

	.intro {
		font-size: 200%;
	}
}

@media (min-width: 36em) {
	.outer {
		display: flex;
		background-color: red;
	}
}

@media print {
	body {
		font-size: 75%;
	}
}
